[submodule "meta-cube"]
	path = meta-cube
	url = https://github.com/OpenVisionE2/meta-cube.git
[submodule "meta-hypercube"]
	path = meta-hypercube
	url = https://github.com/OpenVisionE2/meta-hypercube.git
[submodule "meta-dm800"]
	path = meta-dm800
	url = https://github.com/OpenVisionE2/meta-dm800.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/OpenVisionE2/meta-raspberrypi.git
[submodule "meta-linkdroid"]
	path = meta-linkdroid
	url = https://github.com/OpenVisionE2/meta-linkdroid.git
