[submodule "meta-cube"]
	path = meta-cube
	url = https://github.com/OpenVisionE2/meta-cube.git
[submodule "meta-dream"]
	path = meta-dream
	url = https://github.com/OpenVisionE2/meta-dream.git
	branch = develop
[submodule "meta-hypercube"]
	path = meta-hypercube
	url = https://github.com/OpenVisionE2/meta-hypercube.git
[submodule "meta-uclan"]
	path = meta-uclan
	url = https://github.com/OpenVisionE2/meta-uclan.git
[submodule "meta-ultramini"]
	path = meta-ultramini
	url = https://github.com/OpenVisionE2/meta-ultramini.git
[submodule "meta-wetek"]
	path = meta-wetek
	url = https://github.com/OpenVisionE2/meta-wetek.git
[submodule "meta-xp"]
	path = meta-xp
	url = https://github.com/OpenVisionE2/meta-xp.git
