[submodule "meta-cube"]
	path = meta-cube
	url = https://github.com/OpenVisionE2/meta-cube.git
[submodule "meta-hypercube"]
	path = meta-hypercube
	url = https://github.com/OpenVisionE2/meta-hypercube.git
[submodule "meta-linkdroid"]
	path = meta-linkdroid
	url = https://github.com/OpenVisionE2/meta-linkdroid.git
[submodule "meta-minix"]
	path = meta-minix
	url = https://github.com/OpenVisionE2/meta-minix.git
[submodule "meta-odroid"]
	path = meta-odroid
	url = https://github.com/OpenVisionE2/meta-odroid.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/OpenVisionE2/meta-raspberrypi.git
[submodule "meta-wetek"]
	path = meta-wetek
	url = https://github.com/OpenVisionE2/meta-wetek.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-dm"]
	path = meta-dm
	url = https://github.com/OpenVisionE2/meta-dm.git
[submodule "meta-az"]
	path = meta-az
	url = https://github.com/OpenVisionE2/meta-az.git
